_site/
.sass-cache/
.DS_Store
*~
.bundle
/Gemfile.lock
/images/conferences/2017/mt25/BulkResizePhotos.com.html
/images/conferences/2017/mt25/ResizedPhotos.0 (1).zip
/images/projects/4fastsim/ResizedPhotos.0.zip
