@charset "utf-8";
/* Syntax highlighting styles
------------------------------------------------------------------- */

.highlight {
    background: #fff;
    .c     { color: #998; font-style: italic } // Comment
    .err   { color: #a61717; background-color: #e3d2d2 } // Error
    .k     { font-weight: bold } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: #998; font-style: italic } // Comment.Multiline
    .cp    { color: #999; font-weight: bold } // Comment.Preproc
    .c1    { color: #998; font-style: italic } // Comment.Single
    .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: #a00 } // Generic.Error
    .gh    { color: #999 } // Generic.Heading
    .gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #888 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #aaa } // Generic.Subheading
    .gt    { color: #a00 } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: #458; font-weight: bold } // Keyword.Type
    .m     { color: #099 } // Literal.Number
    .s     { color: #d14 } // Literal.String
    .na    { color: #008080 } // Name.Attribute
    .nb    { color: #0086B3 } // Name.Builtin
    .nc    { color: #458; font-weight: bold } // Name.Class
    .no    { color: #008080 } // Name.Constant
    .ni    { color: #800080 } // Name.Entity
    .ne    { color: #900; font-weight: bold } // Name.Exception
    .nf    { color: #900; font-weight: bold } // Name.Function
    .nn    { color: #555 } // Name.Namespace
    .nt    { color: #000080 } // Name.Tag
    .nv    { color: #008080 } // Name.Variable
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: #bbb } // Text.Whitespace
    .mf    { color: #099 } // Literal.Number.Float
    .mh    { color: #099 } // Literal.Number.Hex
    .mi    { color: #099 } // Literal.Number.Integer
    .mo    { color: #099 } // Literal.Number.Oct
    .sb    { color: #d14 } // Literal.String.Backtick
    .sc    { color: #d14 } // Literal.String.Char
    .sd    { color: #d14 } // Literal.String.Doc
    .s2    { color: #d14 } // Literal.String.Double
    .se    { color: #d14 } // Literal.String.Escape
    .sh    { color: #d14 } // Literal.String.Heredoc
    .si    { color: #d14 } // Literal.String.Interpol
    .sx    { color: #d14 } // Literal.String.Other
    .sr    { color: #009926 } // Literal.String.Regex
    .s1    { color: #d14 } // Literal.String.Single
    .ss    { color: #990073 } // Literal.String.Symbol
    .bp    { color: #999 } // Name.Builtin.Pseudo
    .vc    { color: #008080 } // Name.Variable.Class
    .vg    { color: #008080 } // Name.Variable.Global
    .vi    { color: #008080 } // Name.Variable.Instance
    .il    { color: #099 } // Literal.Number.Integer.Long
}

.listingblock .pygments .hll { background-color: #ffffcc }
.listingblock .pygments, .listingblock .pygments code { background: #f0f3f3; }
.listingblock .pygments .tok-c { color: #0099FF; font-style: italic } /* Comment */
.listingblock .pygments .tok-err { color: #AA0000; background-color: #FFAAAA } /* Error */
.listingblock .pygments .tok-k { color: #006699; font-weight: bold } /* Keyword */
.listingblock .pygments .tok-o { color: #555555 } /* Operator */
.listingblock .pygments .tok-ch { color: #0099FF; font-style: italic } /* Comment.Hashbang */
.listingblock .pygments .tok-cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.listingblock .pygments .tok-cp { color: #009999 } /* Comment.Preproc */
.listingblock .pygments .tok-cpf { color: #0099FF; font-style: italic } /* Comment.PreprocFile */
.listingblock .pygments .tok-c1 { color: #0099FF; font-style: italic } /* Comment.Single */
.listingblock .pygments .tok-cs { color: #0099FF; font-weight: bold; font-style: italic } /* Comment.Special */
.listingblock .pygments .tok-gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.listingblock .pygments .tok-ge { font-style: italic } /* Generic.Emph */
.listingblock .pygments .tok-gr { color: #FF0000 } /* Generic.Error */
.listingblock .pygments .tok-gh { color: #003300; font-weight: bold } /* Generic.Heading */
.listingblock .pygments .tok-gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.listingblock .pygments .tok-go { color: #AAAAAA } /* Generic.Output */
.listingblock .pygments .tok-gp { color: #000099; font-weight: bold } /* Generic.Prompt */
.listingblock .pygments .tok-gs { font-weight: bold } /* Generic.Strong */
.listingblock .pygments .tok-gu { color: #003300; font-weight: bold } /* Generic.Subheading */
.listingblock .pygments .tok-gt { color: #99CC66 } /* Generic.Traceback */
.listingblock .pygments .tok-kc { color: #006699; font-weight: bold } /* Keyword.Constant */
.listingblock .pygments .tok-kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
.listingblock .pygments .tok-kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
.listingblock .pygments .tok-kp { color: #006699 } /* Keyword.Pseudo */
.listingblock .pygments .tok-kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
.listingblock .pygments .tok-kt { color: #007788; font-weight: bold } /* Keyword.Type */
.listingblock .pygments .tok-m { color: #FF6600 } /* Literal.Number */
.listingblock .pygments .tok-s { color: #CC3300 } /* Literal.String */
.listingblock .pygments .tok-na { color: #330099 } /* Name.Attribute */
.listingblock .pygments .tok-nb { color: #336666 } /* Name.Builtin */
.listingblock .pygments .tok-nc { color: #00AA88; font-weight: bold } /* Name.Class */
.listingblock .pygments .tok-no { color: #336600 } /* Name.Constant */
.listingblock .pygments .tok-nd { color: #9999FF } /* Name.Decorator */
.listingblock .pygments .tok-ni { color: #999999; font-weight: bold } /* Name.Entity */
.listingblock .pygments .tok-ne { color: #CC0000; font-weight: bold } /* Name.Exception */
.listingblock .pygments .tok-nf { color: #CC00FF } /* Name.Function */
.listingblock .pygments .tok-nl { color: #9999FF } /* Name.Label */
.listingblock .pygments .tok-nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
.listingblock .pygments .tok-nt { color: #330099; font-weight: bold } /* Name.Tag */
.listingblock .pygments .tok-nv { color: #003333 } /* Name.Variable */
.listingblock .pygments .tok-ow { color: #000000; font-weight: bold } /* Operator.Word */
.listingblock .pygments .tok-w { color: #bbbbbb } /* Text.Whitespace */
.listingblock .pygments .tok-mb { color: #FF6600 } /* Literal.Number.Bin */
.listingblock .pygments .tok-mf { color: #FF6600 } /* Literal.Number.Float */
.listingblock .pygments .tok-mh { color: #FF6600 } /* Literal.Number.Hex */
.listingblock .pygments .tok-mi { color: #FF6600 } /* Literal.Number.Integer */
.listingblock .pygments .tok-mo { color: #FF6600 } /* Literal.Number.Oct */
.listingblock .pygments .tok-sa { color: #CC3300 } /* Literal.String.Affix */
.listingblock .pygments .tok-sb { color: #CC3300 } /* Literal.String.Backtick */
.listingblock .pygments .tok-sc { color: #CC3300 } /* Literal.String.Char */
.listingblock .pygments .tok-dl { color: #CC3300 } /* Literal.String.Delimiter */
.listingblock .pygments .tok-sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.listingblock .pygments .tok-s2 { color: #CC3300 } /* Literal.String.Double */
.listingblock .pygments .tok-se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
.listingblock .pygments .tok-sh { color: #CC3300 } /* Literal.String.Heredoc */
.listingblock .pygments .tok-si { color: #AA0000 } /* Literal.String.Interpol */
.listingblock .pygments .tok-sx { color: #CC3300 } /* Literal.String.Other */
.listingblock .pygments .tok-sr { color: #33AAAA } /* Literal.String.Regex */
.listingblock .pygments .tok-s1 { color: #CC3300 } /* Literal.String.Single */
.listingblock .pygments .tok-ss { color: #FFCC33 } /* Literal.String.Symbol */
.listingblock .pygments .tok-bp { color: #336666 } /* Name.Builtin.Pseudo */
.listingblock .pygments .tok-fm { color: #CC00FF } /* Name.Function.Magic */
.listingblock .pygments .tok-vc { color: #003333 } /* Name.Variable.Class */
.listingblock .pygments .tok-vg { color: #003333 } /* Name.Variable.Global */
.listingblock .pygments .tok-vi { color: #003333 } /* Name.Variable.Instance */
.listingblock .pygments .tok-vm { color: #003333 } /* Name.Variable.Magic */
.listingblock .pygments .tok-il { color: #FF6600 } /* Literal.Number.Integer.Long */
